* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* direction: rtl; */
  font-family: "IRAN";
}
@font-face {
  font-family: "IRAN";
  src: url(./IRAN.woff);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.header > div > span {
  margin-right: 0.3rem;
  color: green;
}

main {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  margin-top: 3rem;
  padding: 4rem;
  border-radius: 5px;
}

.main {
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
}
.main .icon {
  margin-bottom: 1rem;
}
.main .icon span {
  font-size: 45px;
  color: green;
}
.main p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  flex-direction: column;
  margin-top: 2rem;
}

.footer > p {
  font-size: 14px;
  font-weight: 500;
  color: blue;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer .footer-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.footer .footer-content ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.details {
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 550px) {
  main {
    margin-top: 1.5rem;
    padding: 2rem;
  }
}
